.clickable-tile {
  transition: transform 0.2s ease, opacity 0.2s ease;
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin: 0 -5px;
}

.clickable-tile.initial-slide-in {
  animation: slideIn 0.5s;
}

.clickable-tile.removing {
  animation: slideOut 0.5s;
}

.clickable-tile:hover {
  transform: scale(1.1);
}

.clickable-tile.clicked {
  transform: scale(0.9);
}

@media (max-width: 1024px) {
  .clickable-tile {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 768px) {
  .clickable-tile {
    width: 40px;
    height: 40px;
  }
}