.tabbed-section {
    max-width: 70%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
}

.tab-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    font-family: 'Poppins';
    flex: 1;
    padding: 10px 20px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    color: #333;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
}

.tab-button.active {
    border-bottom: 2px solid;
}

.tab-button:not(.active):hover {
    color: #0056a0;
}

.tab-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}