.main {
  font-family: 'Poppins';
  text-align: center;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}

.winning-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.winning-tiles .clickable-tile.removing {
  animation: none;
}

.winning-tiles .clickable-tile:hover,
.clickable-tile.clicked {
  transform: none;
}