.main {
  font-family: 'Poppins';
  text-align: center;
}

.placeholder-row-container {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.winning-tiles {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: center;
}

.winning-tiles .clickable-tile.removing {
  animation: none;
}

.winning-tiles .clickable-tile:hover,
.clickable-tile.clicked {
  transform: none;
}

.winning-tiles h2 {
  margin-left: 10px;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

@media (max-width: 768px) {
  .placeholder-row-container {
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .winning-tiles {
    font-size: 0.5rem;
  }
}