nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    padding: 5px 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    width: 80%;
    max-width: 1000px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

nav.over-highlights {
    color: #1a202c;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

nav.over-highlights .menu-icon,
nav.over-highlights ul li a {
    color: black;
}

.logo-image {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav ul {
    display: flex;
    backdrop-filter: blur(10px);
    z-index: 100;
}

nav ul li a {
    color: white;
    padding: 0.2rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    font-size: larger;
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo img {
    cursor: pointer;
    width: 140px;
}

.menu-icon {
    display: none;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
    nav {
        padding: 5px 2%;
        max-width: 100%;
        align-items: center;
    }

    nav.open {
        border-radius: 30px 30px 0 0;
        backdrop-filter: none;
        background-color: rgba(137, 135, 135, 0.95);
    }

    nav.open.over-highlights {
        background-color: white;
    }

    .menu-icon {
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .menu-icon.open {
        transform: rotate(90deg);
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 40px;
        left: 0;
        border-radius: 0 0 30px 30px;
        text-align: center;
        transform: scaleY(0);
        transform-origin: top;
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
    }

    nav ul.open {
        opacity: 1;
        transform: scaleY(1);
        pointer-events: auto;
    }

    nav ul.close {
        opacity: 0;
        transform: scaleY(0);
        pointer-events: none;
    }

    nav ul li a {
        padding: 0.5rem;
        display: block;
        font-size: large;
    }
}