nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    padding: 5px 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    width: 80%;
    max-width: 1000px;
    z-index: 100;
}

nav ul {
    display: flex;
    margin-left: auto;
}

nav ul li a {
    color: black;
    padding: 0.2rem;
    margin: 0 0.5rem;
    border-radius: 10px;
    font-size: larger;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

nav ul li a:hover {
    background: hsla(240, 3%, 94%, 0.5);
}

.logo img {
    cursor: pointer;
    width: 140px;
}

.menu-icon {
    display: none;
    transition: transform 0.3s ease;
    color: black;
}

@media (max-width: 768px) {
    nav {
        padding: 5px 2%;
        max-width: 100%;
        align-items: center;
        transition: border-radius 300ms ease;
    }

    nav.open {
        border-radius: 30px 30px 0 0;
    }


    .menu-icon {
        display: block;
        margin-left: auto;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .menu-icon.open {
        transform: rotate(90deg);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 40px;
        left: 0;
        background: rgba(255, 255, 255, 1);
        border-radius: 0 0 30px 30px;
        backdrop-filter: blur(5px);
        text-align: center;
        opacity: 0;
        transform: scaleY(0);
        /* Start with zero scale on Y-axis */
        transform-origin: top;
        /* Scale from the top */
        transition: opacity 300ms ease, transform 300ms ease;
        pointer-events: none;
        /* Prevent interactions when hidden */
    }

    nav ul.open {
        opacity: 1;
        transform: scaleY(1);
        /* Scale to full height */
        pointer-events: auto;
        /* Allow interactions when visible */
    }

    nav ul.close {
        opacity: 0;
        transform: scaleY(0);
        /* Scale back to zero height */
        pointer-events: none;
        /* Prevent interactions when hidden */
    }

    nav ul li a {
        padding: 0.5rem;
        display: block;
        font-size: large;
    }
}