.placeholder-row {
  display: flex;
  justify-content: center;
}

.placeholder-row.slide-up {
  animation: slideOut 0.5s;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}