.App {
  height: 100vh;
  width: 100%;

}

html {
  scroll-behavior: smooth;
}

.divider-text {
  font-family: 'Poppins';
  color: #1a202c;
  height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 1rem;
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}