.container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 90vh;
    width: 100%;
    z-index: 1;
}

.container:before {
    content: '';
    background: url('../../assets/hero.jpg') center center/cover;
    opacity: 0.4;
    height: 90vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

@media (max-width: 768px) {

    .container,
    .container:before {
        height: 80vh;
    }
}